.main-footer {
    background: var(--dark);
}

.main-footer .links ul li {
    list-style-type: none;
}

.main-footer .links ul li a {
    text-decoration: none;
    color: #eee;
}

.main-footer .resources p {
    position: relative;
    color: #eee;
}

.main-footer .resources .pdf-text {
    position: absolute;
    top: 0;
    right: 64%;
}

.main-footer .resources .pdf-text a {
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.main-footer figure img {
    width: 100%;
    object-fit: contain;
}