.main-footer {
    background: var(--dark);
}

.main-footer .links ul li {
    list-style-type: none;
}

.main-footer .links ul li a {
    text-decoration: none;
    color: #eee;
}

.main-footer .resources p {
    position: relative;
    color: #eee;
}

.main-footer .resources .pdf-text {
    position: absolute;
    top: 0;
    right: 64%;
}

.main-footer .resources .pdf-text a {
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.main-footer figure img {
    width: 100%;
    object-fit: contain;
}

@media (min-width: 1300px) {
    .main-footer {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-top: 1.4rem;
        height: 43vh;
    }

    .main-footer .links {
        margin: 0;
        padding-left: 1rem;
    }

    .links header {
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }

    .main-footer .resources .pdf-text {
        left: 102%;
    }
    
    .main-footer figure img {
        height: 38vh;
        width: 50vw;
    }
}