.main-header {
    background: var(--dark);
    font-family: "roboto condensed", sans-serif;
    position: relative;
}

.main-header .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .header-image img {
    width: 30vw;
    object-fit: contain;
    display: block;
}

.header-container hgroup h1 {
    color: #fff;
}

.header-container header h3 {
    color: var(--lightblue);
}

.main-nav ul {
    padding: 0;
}

.main-nav ul li {
    list-style-type: none;
    border-bottom: 4px solid #000;
    padding: 0.4rem 0.7rem;
    cursor: pointer;
}

.main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Tablet */
@media (min-width: 800px) {

    .main-header .header-container {
        justify-content: space-evenly;
    }

    .main-header .header-image img {
        width: 20vw;
    }

    .main-nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-nav ul li {
        border-bottom: 0;
    }
}

/* Desktop */
@media (min-width: 1300px) {

    .main-header .header-container {
        justify-content: center;
    }

    .main-header .header-image img {
        width: 10vw;
    }

    .main-nav ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .main-nav ul li {
        border-bottom: 0;
    }
}