.seventeen-goals,
.goal-images,
.problems,
.contact-us {
    font-family: "roboto condensed", sans-serif;
    background: var( --accent-color);
    padding-bottom: 1.5rem;
}

section article {
    padding-bottom: 1rem;
}

.world-goals,
.goal-images,
.problems,
.contact-us {
    padding-left: 0.4rem;
}

.world-goals header,
.problems header,
.contact-us header {
    position: relative
}

header h2,
header h3 {
    color: #6699cc;
    margin: 0;
}

.world-goals header .back-btn,
.problems header .back-btn,
.contact-us header .back-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.world-goals .back-btn a {
    color: #666;
    font-weight: 100;
    font-size: 17px;
    cursor: pointer;
    text-decoration: dashed;
}

.problems .back-btn a,
.contact-us .back-btn a {
    color: var(--dark);
    font-weight: 100;
    font-size: 17px;
    cursor: pointer;
    text-decoration: dashed;
}

.goal-images .images {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.7rem;
}

.images img {
    width: 100%;
    object-fit: contain;
    display: block;
}

.problems .problems-Card img {
    width: 100%;
    object-fit: contain;
    display: block;
}

.problems-Card figure{
    padding-bottom: 1rem;
}

.contact-us .un-image img {
    width: 100%;
    object-fit: contain;
    display: block;
}

.contact-us .form-container form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 0;
}

form fieldset input {
    padding: 0.3rem 7rem;
}

form fieldset textarea {
    resize: none;
    padding: 0.3rem 7rem;
}

form fieldset input::placeholder,
form fieldset textarea::placeholder {
    text-align: center;
}

form fieldset .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.btn-container input {
    padding: 0.5rem 5rem;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.btn-container input[type="reset"] {
    background: var(--lightblue);
}

.btn-container input[type="submit"] {
    background: var(--darkblue);
}

@media (min-width: 800px) {
    .goal-images .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .contact-us .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1300px) {
    .seventeen-goals,
    .goal-images {
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }

    .seventeen-goals .goals-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .world-goals header .back-btn {
        right: 12%;
    }

    .goal-images .images {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0.5rem;
    }

    .problems {
        padding-top: 1rem;
    }

    .problems header .back-btn {
        right: 52%;
    }

    .problems .problems-Card {
        padding-top: 1rem;
    }

    .problems-Card figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }

    .contact-us .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .form-container form fieldset {
        width: 100%;
    }

    form fieldset input {
        padding: 1rem 12rem;
        width: 100%;
    }

    form fieldset textarea {
        padding: 1rem 12rem;
    }

    .btn-container input {
        padding: 1rem 7.2rem;
    }

    .contact-container .un-image img {
        width: 70%;
    }
}